/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
	-fx-primary:#2A2E37;
	-fx-secondary: #FFFF8D;
	-fx-primaryTextFill:white;
	-fx-red:RED;
}
.root{
	 -fx-background-color: -fx-primary;
	
}
.glyph-icon{
	-fx-fill:-fx-primaryTextFill;
	
	
}
.button{
	-fx-text-fill:-fx-primaryTextFill;
	
	
}
.login-button{
	-fx-border-color:-fx-secondary;
	-fx-border-radius:20px;
	-fx-background-radius:20px;
	
}

.text-field{
	-fx-text-fill:-fx-primaryTextFill;
	-fx-font-size:13px;
	-jfx-focus-color:-fx-secondary;
-fx-prompt-text-fill: derive(gray,50%);
	
}
.text-area{
 	-fx-text-fill:-fx-primaryTextFill;
 	-fx-font-size:13px;
 	-jfx-focus-color:-fx-secondary;
	-fx-prompt-text-fill: derive(gray,50%);

 }

.jfx-button{
	-fx-text-fill: -fx-primaryTextFill;
}
.jfx-button:hover{
	 -fx-background-color:-fx-secondary;
	 -fx-text-fill:black;
}

.wrong-credentials{
	-jfx-unfocus-color:	-fx-red;
	-jfx-focus-color:	-fx-red;
}


/*from here i will star for main screen  */


/*tab styling  */



.tab{
	-fx-text-fill:-fx-primaryTextFill;
	-fx-background-color: derive(-fx-primary,40%);
} /*
 * -fx-pref-width:300;
	-fx-pref-height:30;
	 */
.tab-header-background{
	-fx-background-color:-fx-primary;
}


.menu-bar{
	-fx-base:-fx-primary;
	-fx-background-color:-fx-primary;
}
.context-menu{
	-fx-background-color:derive(-fx-primary,30%);
}

.jfx-hamburger-icon{
	-fx-spacing: 7;
}
.jfx-hamburger-icon StackPane{
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5px;
}
.label{
    -fx-text-fill:-fx-primaryTextFill;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color:   -fx-primary;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color:  -fx-primary;
}

.table-view .table-cell{
    -fx-text-fill : white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, -fx-primary;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,   -fx-primary;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color:derive(-fx-secondary,-50%);

    -fx-background-insets: 0;
    -fx-background-radius: 1;

}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
    }
.date-picker .text-field {
    -fx-control-inner-background: -fx-primary ;
}

